/Matricula/nbproject/private/
/Matricula/build/
/Main/nbproject/private/
/CasoConejo/nbproject/private/
/CasoConejo/build/
/CalculadoraTDD/nbproject/private/
/CalculadoraTDD/build/
/EquipoFutbol/nbproject/private/
/EquipoFutbol/build/
/Pagos/nbproject/private/
/Pagos/build/